@model SBD_TO_Project.Models.ViewModels.MovieVM

<form method="post" asp-action="Create" enctype="multipart/form-data">
    <div class="border p-3">
        <div class="form-group row">
            <h2 class="text-dark pl-3">
                Add New Movie
            </h2>
        </div>
        <div class="row">
            <div class="col-8">
                <div class="form-group row">
                    <div class="col-4">
                        <label asp-for="Movie.Title"></label>
                    </div>
                    <div class="col-8">
                        <input asp-for="Movie.Title" class="form-control" />
                        <span asp-validation-for="Movie.Title" class="text-danger"></span>
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-4">
                        <label asp-for="Movie.Description"></label>
                    </div>
                    <div class="col-8">
                        <textarea asp-for="Movie.Description" class="form-control summernote"></textarea>
                        <span asp-validation-for="Movie.Description" class="text-danger"></span>
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-4">
                        <label asp-for="Movie.AgeRating"></label>
                    </div>
                    <div class="col-8">
                        <input asp-for="Movie.AgeRating" class="form-control" />
                        <span asp-validation-for="Movie.AgeRating" class="text-danger"></span>
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-4">
                        <label asp-for="Movie.Length"></label>
                    </div>
                    <div class="col-8">
                        <input asp-for="Movie.Length" class="form-control" />
                        <span asp-validation-for="Movie.Length" class="text-danger"></span>
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-4">
                        <label asp-for="Movie.IdDirector"></label>
                    </div>
                    <div class="col-8">
                        <select asp-for="Movie.IdDirector" asp-items="@Model.DirectorSelectList" class="form-control">
                            <option disabled selected>--Select Director--</option>
                        </select>
                        <span asp-validation-for="Movie.IdDirector" class="text-danger"></span>
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-4">
                        <label asp-for="Movie.IdMovieStudio"></label>
                    </div>
                    <div class="col-8">
                        <select asp-for="Movie.IdMovieStudio" asp-items="@Model.MovieStudioSelectList" class="form-control">
                            <option disabled selected>--Select Studio--</option>
                        </select>
                        <span asp-validation-for="Movie.IdMovieStudio" class="text-danger"></span>
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-4">
                        Image
                    </div>
                    <div class="col-8">
                        <input type="file" name="files" id="uploadBox" multiple class="form-control" />
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-8 offset-4 row">
                        <div class="col">
                            <input type="submit" onclick="return validateInput()" class="btn btn-info w-100" value="Create" />
                        </div>
                        <div class="col">
                            <a asp-action="Index" class="btn btn-primary w-100">Back</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>

@section Scripts{
    <script>
        $(document).ready(function () {
            $('.summernote').summernote({
                height: 250
            });
        });
        function validateInput() {
            if (document.getElementById("uploadBox").value == "") {
                Swal.fire(
                    'Error!',
                    'Please upload an image',
                    'error'
                )
                return false;
            }
            return true;
        }
    </script>
}