@model SBD_TO_Project.Models.Movie

<form method="post" asp-action="DeletePost">
    <input asp-for="Id" hidden />
    <div class="border p-3">
        <div class="form-group row">
            <h2 class="text-dark pl-3">
                Delete Movie
            </h2>
        </div>
        <div class="row">
            <div class="col-8">
                <div class="form-group row">
                    <div class="col-4">
                        <label asp-for="Title"></label>
                    </div>
                    <div class="col-8">
                        <input asp-for="Title" disabled class="form-control" />
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-4">
                        <label asp-for="Description"></label>
                    </div>
                    <div class="col-8">
                        <textarea asp-for="Description" disabled class="form-control summernote"></textarea>
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-4">
                        <label asp-for="AgeRating"></label>
                    </div>
                    <div class="col-8">
                        <input asp-for="AgeRating" disabled class="form-control" />
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-4">
                        <label asp-for="Length"></label>
                    </div>
                    <div class="col-8">
                        <input asp-for="Length" disabled class="form-control" />
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-4">
                        <label asp-for="IdDirector"></label>
                    </div>
                    <div class="col-8">
                        <input value="@(Model.Director.FirstName+" "+Model.Director.LastName)" disabled class="form-control" />
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-4">
                        <label asp-for="IdMovieStudio"></label>
                    </div>
                    <div class="col-8">
                        <input asp-for="MovieStudio.Name" disabled class="form-control" />
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-8 offset-4 row">
                        <div class="col">
                            <button type="submit" class="btn btn-danger w-100" value="Create">Delete</button>
                        </div>
                        <div class="col">
                            <a asp-action="Index" class="btn btn-primary w-100">Back</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-4">
                <img src="@(WebConstants.ImageMoviePath + Model.Image)" style="width: 100%; border-radius: 5px; border: 1px solid #bbb" />
            </div>
        </div>
    </div>
</form>

@section Scripts{
    <script>
        $(document).ready(function () {
            $('.summernote').summernote({
                height: 250,
            });
        });
        $('.summernote').summernote('disable');
    </script>
}
