@model SBD_TO_Project.Models.ViewModels.CinemaBrowseVM

<div class="container">
    <div class="text-center">
        <button class="btn btn-dark filter-button" data-filter="all">All</button>
        @foreach (var obj in Model.Cities)
        {
            <button class="btn btn-outline-secondary filter-button" data-filter="@obj.Replace(' ','_')">@obj</button>
        }
    </div>
    <br />
    <div class="row">
        @if (Model.Cinemas.Count > 0)
        {
            @foreach (var cinema in Model.Cinemas)
            {
                <partial name="_IndividualCinemaCard" model="cinema" />
            }
        }
        else
        {
            <h1>Sorry but the movie your are looking for is not currently avilable in any cinema.</h1>
        }
    </div>
</div>

@section Scripts{ 
    <script>
        $(document).ready(function () {

            $(".filter-button").click(function () {

                var value = $(this).attr('data-filter');
                if (value == "all") {
                    $('.filter').show('1000');
                }
                else {
                    $(".filter").not('.' + value).hide('3000');
                    $('.filter').filter('.' + value).show('3000');

                }
            });
        });
    </script>
}